.photo img { 
    height:258px;
    width:375px;
    @include tablet-only {
        width: 100%;
        object-fit: COVER;
      }
      @include desktop-only {
        width: 100%;
        object-fit: COVER;
      }
}