.restaurants {
  background-color: $background2;

  h2 {
    margin: 15px;
    padding-top: 55px;
    @include tablet-only {
      text-align: center;
      padding-top: 36px;
    }
    @include desktop-only {
      text-align: center;
    }
  }

  .articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    @include tablet-only {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 60px;
      flex-direction: row;
    }
    @include desktop-only{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 60px;
      flex-direction: row;
    }
  }

  article {
    margin: 15px;
    height: 254px;
    width: 335px;
    border-radius: 15px;
    background-color: white;
    img {
      height: 174px;
      width: 100%;
      border-radius: 15px 15px 0px 0px;
      object-fit: cover;
    }
    h3 {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 5px;
    }
    p {
      margin: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }
    aside {
      width: 80px;
      height: 28px;
      background-color: $Tertiaire;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: -220px;
      margin-left: 242px;
    }
    .description {
      padding-left: 15px;
    }
    button {
      margin-right: 25px;
      display: inline-block;
      background-color: white;
      border: none;

      #heart {
        font-size: 23px;
      }
    }
  }
}
