.menu {
  border-radius: 35px 35px 0 0;
  background-color: $background2;
  margin-top: -35px;
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    background-color: $background2;
    border-radius: 35px 35px 0 0;

    button {
      font-size: 23px;
      display: inline-block;
      border: none;
      border-radius: 35px 35px 0 0;
    }
  }

  #heart {
    font-size: 23px;
    margin-right: 25px;
    display: inline-block;
    border: none;
    padding-top: 35px;
  }
  @keyframes scroll {
    0% {
      transform: translateY(30%);
      opacity: 0;
    }
    25% {
      transform: translateY(20%);
      opacity: 0.25;
    }
    50% {
      transform: translateY(10%);
      opacity: 0.5;
    }
    75% {
      transform: translateY(5%);
      opacity: 0.75;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .entree {
    @include menu;
    @include tablet-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include desktop-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    button {
      border-radius: 15px;
      animation: scroll 1s ease-in;
      // animation-delay: 02s;
    }
  }

  aside {
    padding-right: 23px;
  }
  .plats {
    @include menu;

    @include tablet-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include desktop-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    button {
      animation: scroll 1s ease-in;
      animation-delay: .25s;
    }
  }
  .desserts {
    @include menu;
    @include tablet-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include desktop-only {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-direction: row;
    }
    button {
      animation: scroll 1s ease-in;
      animation-delay: .5s;
    }
  }
  h1 {
    font-size: 29px;
    padding-left: 18px;
    font-family: "Shrikhand";
    font-weight: bolder;
    margin: 0px;
    padding-top: 35px;
  }
  h2 {
    padding-left: 18px;
    font-family: "Roboto";
    font-size: 16px;
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 18px;
    text-transform: uppercase;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background-color: $Tertiaire;
      margin-top: 8px;
    }
  }
  h3 {
    font-family: "Roboto";
    margin: 0px;
    font-size: 17px;
    padding-left: 8px;
    text-align: left;
    width: 260px;
   
  }
  p {
    font-size: 14px;
    font-family: "Roboto";
    margin: 0px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    /*&:hover {
      max-width: 205px;
    }*/
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   /* &:hover {
      width: 290px;
    }*/
  }
  .special.two {
    text-align: center;
    margin-top: 20px;
  }
}
