/****************************************Page d'acceuil***************************************/

body.index {
  /*****************************loading spinner*************************/
 
  header{
    border-bottom: 1px solid #33333378;
    box-shadow: 5px 5px 13px 0px #808080a6;
  }
 
  main {
    animation: affichage 3s;
  }
  .load {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disparition 0s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  .loading {
    display: flex;
    justify-content: center;
    animation: affichage 0s;
  }
  .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid $Secondaire;
    border-top-color: $Primaire;
    border-bottom-color: $Primaire;
    border-radius: 50%;
    animation: Loading 1s ease infinite;
  }
  /**********************************section entete****************************/
  .entete {
    .localisation {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      background-color: #bfbfbf75;
      input {
        border: none;
        width: 109px;
        background-color: #bfbfbf0f;
        padding-left: 15px;
        font-size: 14px;
      }
      &::before {
        content: "\f3c5";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        display: flex;
        justify-content: center;
      }
    }
    .titre {
      text-align: center;
      background-color: $background2;
    }
    h1 {
      font-size: 23px;
      margin: 0 auto 0 auto;
      width: 228px;
      padding-top: 43px;
    }
    p {
      margin-top: 22px;
      margin-bottom: 32px;
      font-size: 17px;
      font-weight: lighter;
    }
  }

  /****************************section fonctionnnement**********************/
  .fonctionnement {
    margin: 15px;
    h2 {
      margin-top: 50px;
      margin-bottom: 30px;
      @include tablet-only {
        text-align: center;
      }
      @include desktop-only {
        text-align: center;
      }
    }
    .boutons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include desktop-only {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .btn {
      height: 74px;
      width: 330px;
      margin-bottom: 20px;
      border-radius: 20px;
      border: none;
      display: flex;
      justify-content: left;
      align-items: center;
      box-shadow: 5px 5px 13px 0px #808080a6;
      transition: background 0.5s ease-in-out;
      &:hover {
        background-color: lighten($color: $Primaire, $amount: 30%);
        span::before {
          color: $Primaire !important;
        }
      }
      span {
        font-size: 15px;
        font-weight: bold;
        display: inline-flex;
        transition: color 0.5s ease-in-out;
      }
      &::before {
        display: inline-flex;
        background-color: $Primaire;
        justify-content: center;
        align-items: center;
        color: white;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-left: -16px;
      }
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i})::before {
          content: "#{$i}";
        }
      }
      &.one span::before {
        content: "\f3cd";
        @include before;
      }
      &.two span::before {
        content: "\f0ca";
        @include before;
      }
      &.three span::before {
        content: "\f3cd";
        @include before;
      }
    }
  }
  /********************************section restaurants*****************************/
  .restaurants {
    background-color: $background2;
    a {
      color: black;
    }
    h2 {
      margin: 15px;
      padding-top: 55px;
      @include tablet-only {
        text-align: center;
        padding-top: 36px;
      }
      @include desktop-only {
        text-align: center;
      }
    }
    .articles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding-bottom: 60px;
      @include tablet-only {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 60px;
        flex-direction: row;
      }
      @include desktop-only {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 60px;
        flex-direction: row;
      }
    }
    article {
      margin: 15px;
      height: 254px;
      width: 335px;
      border-radius: 15px;
      background-color: white;
      img {
        height: 174px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
      }
      h3 {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 5px;
      }
      p {
        margin: 0;
      }
      .container {
        display: flex;
        justify-content: space-between;
      }
      aside {
        width: 80px;
        height: 28px;
        background-color: $Tertiaire;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: -220px;
        margin-left: 242px;
      }
      .description {
        padding-left: 15px;
      }
      button {
        margin-right: 25px;
        display: inline-block;
        background-color: white;
        border: none;

        #heart {
          font-size: 23px;
        }
      }
    }
  }
}
