/****************************************************************Pages de menu*********************************************************/

body.page.menu {
  /*******************section photo (image entete)**********/
  main img {
    height: 258px;
    width: 100%;
    object-fit: cover;
  }

  /***************Section menu (entrées, plats, desserts)***/
  .menu {
    border-radius: 35px 35px 0 0;
    background-color: $background2;
    margin-top: -35px;
    position: relative;
    /***********Section menu _ les titres (h1, h2)******/
    h1 {
      font-size: 29px;
      padding-left: 18px;
      font-family: "Shrikhand";
      font-weight: bolder;
      margin: 0px;
      padding-top: 35px;
    }
    h2 {
      padding-left: 18px;
      font-family: "Roboto";
      font-size: 16px;
      margin: 0px;
      padding-top: 35px;
      padding-bottom: 18px;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 3px;
        background-color: $Tertiaire;
        margin-top: 8px;
      }
    }

    /*****************Section menu _ les boutons**************/

    /*******************bouton coeur*************/
    .container {
      display: flex;
      justify-content: space-between;
      background-color: $background2;
      border-radius: 35px 35px 0 0;

      button {
        font-size: 23px;
        display: inline-block;
        border: none;
        border-radius: 35px 35px 0 0;
      }
       .coeur{
        font-size: 23px;
        margin-right: 25px;
        display: inline-block;
        border: none;
        padding-top: 35px;
      }
    }
    /****************Boutons_entrees_plats_desserts***********/
    .entree,
    .plats,
    .desserts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .btn {
        width: 350px;
        display: flex;
        background-color: white;
        border: none;
        border-radius: 15px;
        margin: 0;
        padding: 0;
        height: 67px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 13px 0px #808080a6;
        h3,
        p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: left;
        }
        p {
          font-size: 14px;
          font-family: "Roboto";
          margin: 0px;
        }
        h3 {
          font-family: "Roboto";
          font-size: 18px;
          text-align: left;
        }

        .description {
          width: 350px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          margin-left: 1rem;
          transition: width 1s;
        }
        aside {
          width: 60px;
          height: 83%;
          font-size: 13px;
          font-weight: bold;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        .check {
          width: 0;
          overflow: hidden;
          background-color: $Tertiaire;
          transition: width 1s;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 0.5rem 0.5rem 0;
        }
        .fa-solid {
          color: white;
          font-size: 21px;
        }
        &:hover {
          h3 {
            max-width: 180px;
          }
          p {
            max-width: 190px;
          }
          .fa-solid {
            animation: Loading 1s;
            animation-fill-mode: forwards;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .check {
            width: 60px;
          }
          .description {
            width: 290px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      /*******pour tablette (ecran > 768px)**********/
      @include tablet-only {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
      }
      /*******pour ordinateur (ecran > 968px)**********/
      @include desktop-only {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
    /*************animation boutons entree , plats, desserts****************/
    .entree {
      .btn {
        animation: scroll 1s ease-in;
      }
    }
    .plats {
      .btn {
        animation: scroll 1s ease-in;
        animation-delay: 0.25s;
      }
    }
    .desserts {
      .btn {
        animation: scroll 1s ease-in;
        animation-delay: 0.5s;
      }
    }
    /***************Section menu _ bouton commander (class:special two) *************/
    .special.two {
      text-align: center;
      margin-top: 20px;
    }
  }
}
